@font-face {
    font-family: Branda;
    src: url(fonts/Branda.ttf);
    
  }
#heading{
    text-align:center;
}
.name{
    border-radius:80%;
    width:60%;
    margin:0px auto;
}

.social_icons{
    width:15%;
    height:100px;
    border-radius:50%;
}

ul{
    list-style-type: none;
    font-family:Branda;
    text-align:center;
    line-height: 2em;
    font-size:30px;
    font-weight:bold;
    }
#self{
    border-radius:50%;
    height:40%;
    width:75%;
    display:block;
    margin: 50px auto;
}

*{
    box-sizing:border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width:100%;
  }

#menu{
    background-color: lavenderblush;
}
    
    #bio{
        background-color: lightcyan;
    } 

  @media only screen and (min-width: 992px) {
    #menu {
      background-color: lavender;
      width:25%;
      height:100%;
      float:left;
      position:fixed;
      top:0px;
      left:0px;
      overflow:auto;
    }
    
    #bio{
        width: 75%;
        padding: 10px ;
        float:right;
        background-color: lightgreen;


    }
  }

 